body {
    background: #f8f8f8;
}
.navbar-default {
    border-color: rgba(231, 231, 231, 0);
}
.coverImage {
    background: url("../images/cover.png") no-repeat center center;
    min-height: 700px;
}
.btn-blue {
    outline: none;
    padding: 10px 50px;
    background: #0B90CE;
    color: #ffffff;
}
.btn-blue:hover {
    color: #ffffff;
    background: #5CB3DB;
    transition: all .5s;
}
.btn-blue:focus {
    color: #ffffff;
}
.div-center {
    margin: 0 auto;
    display: table;
}
.sprite {
    background: url("../images/clients-small.png") no-repeat;
}
li {
    list-style: none;
}
.forbes {
    width: 100px;
    height: 47px;
    display: inline-block;
    background-position: 0 15px;
}
.cnet {
    width: 100px;
    height: 47px;
    display: inline-block;
    background-position: 0 -30px;
}
.insider {
    width: 100px;
    height: 47px;
    display: inline-block;
    background-position: 0 -68px;
}
.mashable {
    width: 100px;
    height: 47px;
    display: inline-block;
    background-position: 0 -104px;
}
.nytimes {
    width: 100px;
    height: 47px;
    display: inline-block;
    background-position: 0 -148px;
}
.indeed {
    width: 100px;
    height: 47px;
    display: inline-block;
    background-position: 0 -187px;
}
.yahoo {
    width: 100px;
    height: 47px;
    display: inline-block;
    background-position: 0 -222px;
}
.spriteHead {
    text-align: center;
}
